/*  your css code here. If applicable */
.bg-container{
	width:100vw;
	height:80vh;
	background-color:#f5f5f5;
}
h1{
	text-align:left;
	margin-left:20px;
	font-size:20px;
	padding-top:40px;
}
.para{
	margin:10px;
	background-color:white;
	padding:10px;
	margin:20px;	
}
.name{
	text-align:right;
	paddiong:5px;
	font-style:italic;
}